# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
discord.xml
scaffold.iml
php.xml
laravel-idea-personal.xml

# Everything except inspections
*.xml
lambda.iml
!inspectionProfiles/Project_Default.xml
!watcherTasks.xml
